/build/
/.gradle/
/.idea/
/common/build/
/common/out/
/discovery-eureka/out/
/discovery-eureka/build/
/auth-service/build/
/auth-service/out/
/api-gateway/build/
/api-gateway/out/
/encyclo-service/build/
/encyclo-service/out/
/my-plant/build/
/my-plant/out/

